# **Task 1**

In [2]:
# Access List Items
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print("First item:", fruits[0])
print("Last item:", fruits[4])

First item: apple
Last item: kiwi

# **Task 2**

In [3]:
# Change List Items
colors = ["red", "green", "yellow", "purple"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'yellow', 'purple']

# **Task 3**

In [4]:
# Add List Items
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

# **Task 4**

In [5]:
# Remove List Items
animals = ["dog", "cat", "lion", "elephant"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['dog', 'cat', 'elephant']

# **Task 5**

In [6]:
# Loop Lists
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

# **Task 6**

In [7]:
# List Comprehension
numbers = [i for i in range(1, 11)]
squares = [num ** 2 for num in numbers]
print("Squared numbers:", squares)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# **Task 7**

In [8]:
# Sort Lists
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print("Sorted names:", names)

Sorted names: ['Alice', 'Bob', 'Charlie', 'David']

# **Task 8**

In [9]:
# Copy Lists
fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)

Copied list: ['apple', 'banana', 'orange']

# **Task 9**

In [10]:
# Join Lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

# **Task 10**

In [11]:
# List Methods
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print("Updated fruits:", fruits)
fruits.pop()
print("After popping:", fruits)

Updated fruits: ['apple', 'banana', 'orange', 'grape']
After popping: ['apple', 'banana', 'orange']

# **Task 11**

In [12]:
# Combining Lists and List Comprehension
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum list:", sum_list)

Sum list: [7, 9, 11, 13, 15]

# **Task 12**

In [13]:
# Filtering and Sorting
numbers = [3, 6, 2, 8, 5, 9, 4, 7]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [8, 6, 4, 2]

# **Task 13**

In [14]:
# List Slicing and Reversing
numbers = list(range(1, 11))
even_reverse = numbers[-2::-2]
print("Even numbers in reverse:", even_reverse)

Even numbers in reverse: [9, 7, 5, 3, 1]

# **Task 14**

In [16]:
# Combining Lists and List Methods
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

SyntaxError: invalid non-printable character U+00A0 (<ipython-input-16-1109c4f3f204>, line 8)